@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.calc-btn {
  @apply text-white text-xl font-semibold py-4 px-6 rounded-lg transition-all duration-200 active:scale-95;
}
